<h1>Topic: XYZ</h1>
<mat-divider></mat-divider>
<br />

<p>
  Muestro detalle del topico. Además, muestro la opción de generar un diálogo a
  partir del topico
</p>

<mat-form-field>
  <mat-label>Genre</mat-label>
  <mat-select>
    <mat-option *ngFor="let level of levels" [value]="level.name">
      {{ level.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<br />

<button mat-raised-button color="primary" (click)="generate()">
  <mat-icon>play_arrow</mat-icon>
  Generate Dialogue
</button>

<h3>New Dialogue</h3>

<div *ngIf="dialogue">
  <table>
    <thead>
      <th>English</th>
      <th>Spanish</th>
    </thead>
    <tbody>
      <tr *ngFor="let turn of dialogue.turns">
        <td>{{ turn.message }}</td>
        <td>{{ turn.translation.message }}</td>
      </tr>
    </tbody>
  </table>
</div>
